@page "/"
@inject Service.HTMLParser Processor

<h3>HTML String Replacement Tool</h3>

<textarea @bind="InputHTML" style="width:100%; height: 200px"></textarea>
<div>
    <label>Search String:</label>
    <input type="text" @bind="SearchString"/>
</div>
<div>
    <label>Replacement String:</label>
    <input type="text" @bind="ReplacementString"/>
</div>
<button @onclick="ProcessAndDisplay">Process HTML</button>

@if (ProcessedHTML != null)
{
    <h4>Processed HTML:</h4>
    <textarea style="width:100%; height: 200px" readonly>@ProcessedHTML</textarea>
}

@code {
    string InputHTML { get; set; } = "";
    string SearchString { get; set; } = "";
    string ReplacementString { get; set; } = "";
    string ProcessedHTML { get; set; }

    async Task ProcessAndDisplay()
    {
        ProcessedHTML = await Task.Run(() => Processor.ProcessHTML(InputHTML, SearchString, ReplacementString));
    }
}
